services:

  ##################
  # Web
  ##################

  nginx:
    image: skpr/nginx-drupal:dev-v3-latest
    ports:
      - 8080:8080
      - 3306:3306
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./:/data

  php-fpm:
    image: skpr/php-fpm:8.3-dev-v2-latest
    network_mode: service:nginx
    environment:
      - PHP_IDE_CONFIG=serverName=localhost
    volumes:
      - ./:/data

  ##################
  # CLI
  ##################

  php-cli:
    image: skpr/php-cli:8.3-dev-v2-latest
    command: /bin/bash -c "sleep infinity"
    network_mode: service:nginx
    environment:
      - PHP_MEMORY_LIMIT=512M
    volumes:
      - ./:/data

  ##################
  # Databases
  ##################

  mysql-default:
    # For "skpr mysql pull dev" to get the latest image.
    # You can replace the environment variables here with hard-coded values.
    image: ${ECR_ID:-xxxxxx}.dkr.ecr.ap-southeast-2.amazonaws.com/${SKPR_PROJECT:-skpr-project}/mysql/dev:default-latest
    network_mode: service:nginx

  ##################
  # Services
  ##################

  mailpit:
    image: axllent/mailpit
    ports:
      - 8025:8025
