version: "3"

services:
  nginx:
    image: skpr/nginx:1.x
    ports:
      - 8080:8080
    volumes:
      - ./docker/compose/nginx/default.conf:/etc/nginx/conf.d/default.conf

  node:
    image: skpr/node:dev-24-v3-latest
    network_mode: service:nginx
    volumes:
      - .:/data